
# Config file
./config.json

# Env DB
./.envDB

# Py cache
__pycache__

**/__pycache__/

api/schemas/__pycache__/

api/schemas/auth/__pycache__/

api/schemas/extension/__pycache__/

api/schemas/extension/fields/__pycache__/

api/auth/__pycache__/

api/auth/exceptions/__pycache__/

api/controllers/auth/__pycache__/

api/controllers/config/__pycache__/

api/controllers/users/__pycache__/

api/extension/__pycache__/

api/helpers/__pycache__/

api/models/__pycache__/

api/routes/__pycache__/

api/schemas/user/__pycache__/

entites/shared/__pycache__/

entites/shared/encryption/__pycache__/

entites/shared/exceptions/__pycache__/

entites/shared/logger/__pycache__/

entites/user/__pycache__/

entites/user/domain/__pycache__/

extension/__pycache__/

extension/appSettings/__pycache__/

extension/infrastructure/__pycache__/

extension/wire/__pycache__/

infrastructure/repositories/__pycache__/

infrastructure/services/__pycache__/

infrastructure/services/encryption/__pycache__/

utils/__pycache__/
